body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

#cabecalho {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#titulo {
  margin: 0;
}

.skills {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skills h3 {
  margin-top: 0;
  margin-bottom: 15px;
}

.skills .col-md-6 {
  margin-bottom: 20px;
}

#hard_skills,
#soft_skills {
  list-style-type: none;
  padding-left: 0;
}

.skills ul li {
  font-size: 18px;
  margin-bottom: 5px;
}

article,
aside {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#rodape {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

#rodape a {
  color: #fff;
  text-decoration: none;
}

#rodape a:hover {
  text-decoration: underline;
}

footer p {
  margin: 50px;
}

.center-footer {
  align-items: center;
}

#minha_foto {
  border-radius: 50%;
  position: relative;
}
