body {
    background-color: rgb(199, 206, 204);
}

h1 h2 {
    font-family: 'Roboto', sans-serif;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

img {
    border-radius: 50%;
}

.button {
    display: grid;
    color: #000000;
    text-transform: none;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all .5s;
    position: relative;
    overflow: hidden;
  }